<div class="row">
	<div class="span4">
		<form class="form-horizontal" method="post" action="/login">
			<div class="control-group">
				<label class="control-label" for="inputUsername">Username</label>
				<div class="controls">
					<input type="text" id="inputUsername" placeholder="Username" name="username">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					<input type="password" id="inputPassword" name="password" />
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Log in</button>
		</form>
	</div>
</div>